http:
  routers:
    jellyseerr:
      rule: 'Host(`jellyseerr.{{ domain }}`)'
      service: jellyseerr
      entrypoints: 'websecure'

  services:
    jellyseerr:
      loadBalancer:
        servers:
          - url: http://{{ secrets.networks.lan.base }}.1:5055/
