entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: :443
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "{{ secrets.networks.servers.base }}.80/32"
    http:
      tls:
        certResolver: netcup
        domains:
          - main: '{{ domain }}'
            sans:
              - '*.{{ domain }}'

providers:
  file:
    filename: /etc/traefik/routers.yml
    watch: true

api:
  dashboard: true
  disableDashboardAd: true

log:
  level: INFO

certificatesResolvers:
  netcup:
    acme:
      email: '{{ secrets.mail }}'
      storage: /letsencrypt/acme.json
      caServer: '{{ ca_server }}'
      dnsChallenge:
        provider: netcup
